{% extends 'base.html.twig' %}

{% block title %}Products List{% endblock %}

{% block body %}
<div >
    <h1>Products List</h1>
{% for product in products %}
    <h2>{{product}}</h2>
    <p><a href="{{ path('app_product', { id: product.id }) }}">View</a></p>
{% endfor %}
</div>
{% endblock %}
